<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive.io</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
    <script src = "../js/destination.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 425px;
        width: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

</head>

<body style="background-color: #2B1F5E;">
    <main>
        <p class="resultsTitle">Where to?</p>
        <p class="resultsDesc">Get home safe!</p>

          <p><input id="qInput" class="qInput" name="destination" type="text" style = "padding-left: 15%; width: 400px;"></p> <br>
          <p><button class="button" style="background-color: rgb(42, 175, 30); margin-top:40px;" onclick = 'initMap()'>Let's Go!</button></p>

          <p><div id='map'> </div></p>
        <script> getCurrentLocation(); </script>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBztuNIOrzY675qihHFfVsXaXvU6uWlUfw&libraries=places&callback=initMap" async defer></script>

        <!--script src = "../js/destination.js">
          window.onload = getCurrentLocation; //initMap;
        </script-->
        <!--script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBztuNIOrzY675qihHFfVsXaXvU6uWlUfw&callback=initMap">
      </script-->


</body>
</html>
