<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive.io</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
</head>

<body class="gradientbg">
    <main>
        <h1>Hello, user!</h1>
        <h4 style="font-weight: normal">User, you have <b>passed 3</b> times and <b>failed 4</b> times</h4>
        <img class="logo" src="assets/logo-white.png"> <br>
        <p><a href="/game1"><button class="button" style="background-color: #EF5B5B;">Take the Test</button></a></p><br>
        <p><a href="/test"><button class="otherbutton">Results</button></a></p><br>
        <p><a href="/logout"><button class="otherbutton">Log Out</button></a></p>
    </main>
</body>
</html>
