<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
</head>

<body style="background-image: url(assets/traffic-timelapse-greyscale.jpg);background-size: 100%;">
    <main>
        <h1 class="darkbg">BeforeYouDrive.io</h1><br>
        <h1 class="darkbg">Online sobriety test so you Arrive Alive</h1>
        <p><img class="logo" src="assets/logo-white.png" alt="white-logo" /></p> <br>
        <p><a href="/login"><button class="button" style="background-color: #EF5B5B;">Log In</button></a></p> <br>
        <p><a href="/register"><button class="button" style="background-color: #2B1F5E;">Register</button></a></p>
    </main>
</body>
</html>