<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive Login</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
    <script src="../js/login.js"></script>
</head>

<body class="gradientbg">
    <main>
        <h1>Login</h1>
        <h4>Log in to play and access your results</h4>
        <form action="/login" method="POST">
            <div class="logindiv">
                <input type="text" class="userinput" name="email" id="name" placeholder="Email" required><br>
                <input type="password" class="userinput" name="password" id="password" placeholder="Password" required minlength="8"><br>
                <p><a href="/home"><button name="logbutton" class="button" style="background-color: #EF5B5B;" type="submit" value="Log In">Log In</button></a></p>
            </div>
        </form>
    </main>
</body>
</html>
