<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Question 3</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
</head>

<body style="background-color: #171717;">
    <main>
        <h1 id="questionTime" class="questionTime">GO</h1>
        <h4 class="question">Click when the circle is <span style="color: rgb(42,175,30);">green</span></h4>
        <img id="circle" src="assets/circles/red-circle.png">
    </main>

    <script src="js/play3.js"></script>
</body>

</html>