<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Question 2</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
</head>

<body style="background-color: #171717;">
    <main>
        <h1 id="questionTime" class="questionTime">GO</h1>
        <h4 class="question">Click on the <span style="color:#EF5B5B;">bagels ONLY ONCE</span></h4>
        <div>
            <img id="bagel1" class="bagel" src="/assets/bagels/bagel1.png">
            <img id="puppy3" class="puppy" src="/assets/puppies/puppy3.png">
            <img id="bagel3" class="bagel" src="/assets/bagels/bagel3.png">
        </div>

        <div>
            <img id="puppy1" class="puppy" src="/assets/puppies/puppy1.png">
            <img id="bagel2" class="bagel" src="/assets/bagels/bagel2.png">
            <img id="puppy2" class="puppy" src="/assets/puppies/puppy2.png">
        </div>

         <form action="" method="post">
            <input id="qButton" class="button" style="background-color: #EF5B5B;" type="submit" name="userGame2Answer" value="">
        </form>
         

    </main>

    <script src="../js/play2.js"></script>
</body>

</html>