<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive Registration</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
    <script src="../js/register.js"></script>
    <script>
        function check() {
            var emailregex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            var name = document.getElementById("name");
            var email = document.getElementById("email");
            var password = document.getElementById("password");

            if (name != "") {
                name.classList.add("valid");
            } else {
                name.classList.remove("valid");
            }

            if (email.value.match(emailregex)) {
                email.classList.add("valid");
            } else {
                email.classList.remove("valid");
            }

            if (password.value.length >= 8) {
                password.classList.add("valid");
            } else {
                password.classList.remove("valid");
            }
        }
    </script>
</head>

<body class="gradientbg">
    <main>
        <h1>Register</h1>
        <h4>Create an account to record your results</h4>
        <form action="/register" method="POST">
            <div class="logindiv">
                <input class="userinput" onKeyUp="check()" type="text" name="name" style="background-color:lightred;" id="name" placeholder="Name"><br>

                <input class="userinput" onKeyUp="check()" type="password" name="password" id="password" class="userinput" placeholder="Password" minlength="8"><br>

                <input class="userinput" type="text" onKeyUp="check()" name="email" id="email" placeholder="Email"><br>

                <p><a href="/home"><button class="button" style="background-color: #EF5B5B;" type="submit" value="Sign Up" name="regbutton">Sign Up</button></a></p>
            </div>
        </form>
    </main>
</body>

</html>
