<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive.io</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
</head>

<body style="background-color: #2B1F5E;">
    <main>
        <p class="resultsTitle">FAIL</p>
        <img class="imgsize" src="/assets/red-error.png">
        <p class="resultsDesc">You did not pass the tests -<span style="font-weight:700;"> you fail!</span></p>
        <p class="resultsDesc">DO NOT DRIVE!</p>

       <a href="/destination"><button id="resultsBtn" style="background-color: rgb(237, 92, 94); margin-top:40px;">Call
               a Taxi</button></a>
    </main>
</body>
</html>