<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BeforeYouDrive.io</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
</head>

<body style="background-color: #2B1F5E;">
    <main>
        <p class="resultsTitle">PASS</p>
        <p><img class="imgsize" src="/assets/green-check.png" style="color: rgb(42,175,30);" alt="pass"></p>
        <p class="resultsDesc">You achieved a score of 3 - <span style="font-weight:700;">you pass!</span></p>
        <p class="resultsDesc">Get home safe!</p>

        <a href="/"><button class="button" style="background-color: rgb(42, 175, 30); margin-top:40px;">Go
                Home</button></a>
    </main>
</body>
</html>