@import url('https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
    margin: 0%;
    text-align: center;
}

.gradientbg {
    background-image: url(/assets/gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#homebg {
    background-image: url(/assets/gradient2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sharebg {
    background-image: url(/assets/gradient3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    font-family: 'Tinos', sans-serif;
}

.logindiv {
    margin: 0 450px;
    padding: 50px 0;
    background-color: rgb(234, 234, 234);
}

.brandicons {
    margin: 30px 0;
    height: 40px;
}

.userinput {
    width: 200px;
    height: 30px;
    padding-left: 20px;
    font-size: 1em;
    margin-bottom: 30px;
    color: #EF5B5B;
}

::placeholder {
    color: rgb(236, 236, 236);
}

.qInput {
    width: 150px;
    height: 60px;
    font-size: 2em;
    text-align: center;
    color: #EF5B5B;
    margin-bottom: 50px;
}

.button {
    font-family: 'Tinos', sans-serif;
    color: #EAEAEA;
    height: 35px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin: 15px 0;
}

.otherbutton {
    font-family: 'Tinos', sans-serif;
    color: black;
    height: 35px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin: 15px 0;
}

.questionTime {
    font-family: 'Roboto', sans-serif;
}

.question {
    font-family: 'Tinos', sans-serif;
}

h1 {
    color: #EAEAEA;
    margin-top: 70px;
    font-size: 2.5em;
}

h4 {
    margin-bottom: 50px;
    color: #EAEAEA;
    font-weight: 100;
    font-size: 1.5em;
}

p {
    margin: 0;
    color: #EAEAEA;
}

.logo {
    height: 150px;
}

.imgsize {
    height: 200px;
    margin: 30px 0;
}

.qimg {
    height: 300px;
}

.resultsTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    margin-top: 70px;
}

.resultsDesc {
    font-family: 'Tinos', sans-serif;
    font-size: 3em;
}

#resultsBtn {
    color: #EAEAEA;
    text-align: center;
    border: none;
    font-size: 30px;
    height: 50px;
    width: 200px;
}

#circle {
    height: 300px;
    width: 300px;
}

.username {
    background-image: url(/assets/icons/solid/user-alt.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
    color: gray;
}

.password {
    background-image: url(/assets/icons/solid/key.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
}
